@import url(./color.css);
@import url(./dimension.css);
@import url(./position.css);
@import url(./text.css);


.header {
   background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../assets/logo.png);
   height: 100vh;
   background-size: cover;
   background-position: center;
   position: relative;
}

nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px 0;
}

.logo {
   width: 300px;
   cursor: pointer;
}

nav button {
   border: 0;
   outline: 0;
   background: red;
   color: white;
   padding: 6px 20px;
   font-size: 14px;
   border-radius: 4px;
   margin-left: 10px;
   cursor: pointer;
}

.btn-language {
   border: 1px solid white;
}

.content {
   position: absolute;
   top: 40%;
   left: 49%;
   transform: translate(-50%, -50%);
   text-align: center;
   margin-top: 100px;

}

.signin input {
   background: transparent;
   color: white;
   padding: 2% 12%;
   border-radius: 4px;
   margin-right: 4%;
}

form button {
   background-color: red;
   color: white;
   font-size: 14px;
   border: 0;
   outline: 0;
   padding: 15px 25px;
   border-radius: 4px;
   cursor: pointer;
}

.question input {
   background-color: #696969;
   color: #fff;
 
}
.login input{
   background-color: #696969;
   color: white;
   padding: 2% 12%;
   border-radius: 4px;
   margin-right: 4%;
}
.page6{
   padding: 90px 12%;
   text-align: center;
   font-size: 18px;
}
.page6 h1{
   font-weight: 500;
   font-size: 55px;
   margin-bottom: -7%;
}
.question{
   margin: 160px;
   width: 100%;
   max-width: 750px;
}
.question li{
   list-style: none;
   width: 100%;
   padding: 5px;
}
.question li label{
   display: flex;
   align-items: center;
   padding: 20px;
   font-size: 18px;
   font-weight: 500;
   background: #696969;
   margin-bottom: 2px;
   cursor: pointer;
   position: relative;

}

input[type="radio"]{
   display: none;
}
.sign input{
   background: #696969;
   color: white;
   padding: 1% 12%;
   border-radius: 4px;
   margin-right: 1%;
}
/* .......sign in /sign up page........ */
body{
   background-image: url(../assets/IN-en-20231030-popsignuptwoweeks-perspective_alpha_website_large\ 2\ \(1\).png);
   height: 100vh;
   background-size: cover;
   background-position: center;
   position: relative;
   
} 
.page{
   position: absolute;
   left:50%;
   top:65%;
   width: 425px;
   height: 625px;
   padding: 60px;
   border-radius: 4px;
   background: rgba(0,0,0,0.75);
   transform: translate(-50%,-50%);
}




